# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.coverage
.cache/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Screenshot files
*.png
*.jpg
*.jpeg
*.bmp
*.gif
screenshot*

# Misc
*.zip
*.tar.gz
*.egg-info/
